/**
*
*
*
**/
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    width: 100%;
    display: block;
    clear: both;
    margin-bottom: 0.5em;
    margin-top: 4em;
}

 /* ------------- Header styling --------------------------*/
.header {
    max-width: 1080px;
    margin: 0 auto;
    position: relative;

}

#header-logo img {
    max-width: 390px;
    
}

.nav-bar {
    margin-top: 70px;
}

.full-nav {
    float: right;
    margin-right: 0em;
}

.full-nav ul li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;

}

.full-nav ul li a {
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-right:0.5em;
    padding-bottom: 0.5em;
}

.full-nav ul li a:focus {
    color: white;
    background-color: #0A548B;
}

.mobile-toggle-nav {
    display: none;
}

@media all and (max-width: 1080px) {

    .nav-bar {
        margin-left: 1em;
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 2em;
        padding: 0;

    }

    .full-nav {
        float: left;
        margin:0;
    }

    .full-nav ul {
        padding: 0;
        margin: 0;
    }

    #header-logo img {
        max-width: 390px;
        margin: 0;
        padding: 0;

    }

}

@media all and (max-width: 650px) {
    .container {
        padding: 0;
        margin: 0;
    }

    .full-nav {
        display: none;
    }

    .nav-bar {
        display: block;
        width: 100%;
        padding-bottom: 2em;
        margin: 0;
        padding-left: 0;
        padding-right: 0;

    }

    .navbar-collapse {
        margin: 0;
        padding-left: 0;
    }

    .mobile-toggle-nav {
        display: block;
        width: 100%;

    }

    .mobile-toggle-nav li {
        list-style: none;
        padding-bottom: 1em;
        padding-left: 0;
        margin-left: 0;
        width: 100%;

    }

    .mobile-toggle-nav .collapse ul {
        margin-top: 0;
        margin-left:0;
        padding: 0;
    }

    .mobile-toggle-nav .collapse ul li {
        display: block;
        margin: 0;
        padding: 0;
    }


    .mobile-toggle-nav .collapse ul li a {
        text-decoration: none;
        font-weight: bold;
        font-size: 0.8em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;

    }


    .mobile-toggle-nav .parent-list {
        margin: 0;
        padding: 0;
    }

    #valikko {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1em;
        float: left;
        padding-left: 70%;
        width: 100%;
        border-bottom: solid lightgrey;

    }

    .mobile-toggle-nav a span {
        margin-left: 1em;

    }

    #header-logo img {
        max-width: 200px;

    }

    #header-logo {
        text-align: center;
    }

    .mobile-toggle-nav .collapse ul li a:focus {
        color: white;
        background-color: #0A548B;
    }





}



